<form method="POST" action="/bills/<%= @bill.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">

        Amount:  <input type="integer" name="amount" value=" <%= @bill.amount %>">

       Description: <input type="text" name="description" value=" <%= @bill.description %>">

    <input class="btn" type="submit" name="submit" value="submit">
</form>

<form method="POST" action="/bills/<%= @bill.id %>/delete">
<input id='hidden' type='hidden' name='_method' value='DELETE'>
<input type='submit' name='submit' value='Delete Bill'>
</form>