
<h2>Hi  <%= current_user.username %>, hope you're having a great day! </h2>
    
    <h3>Check out all your current bills!</h3>
    <% current_user.bills.each do |bill| %>
   
    <ul>
        <li> <a href="/bills/#{@bill.id}/edit"> <%= bill.content %>  </li>
    </ul>
    <% end %>
    <br />

<h3> <a href="/bills/new">Create a Bill</a> </h3>
<h3> <a href="/logout">Logout</a> </h3>

<h3> <a href="/bills">Home</a> </h3>