<h1>Edit bill</h1>

<p> <%= @bill %> 
</p>


<h3> <a href='/bills/<%= @bill.id %>/edit'>Edit bill</a> </h3>
<br />

<h3> <a href='/bills/new'>Create Another bill</a> </h3>
<br />
<h3> <a href="/bills">Home</a> </h3>