<h1>Edit bill</h1>

<p> <%= @bill.description %> ------>
    $<%= @bill.amount %>
</p>

<a href="/bills/<%= bill.id %>/edit">Edit</a>

<br />

<h3> <a href='/bills/new'>Create Another bill</a> </h3>
<br />
<h3> <a href="/bills/bills">Home</a> </h3>